<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% for( var i = 0; i < jData01.objects.length; i++ ) { %> <%= jData01.objects[i].source %> <% } %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bra-app.min.css">
</head>
<body class="_bra-product">
<%- include('partials/header') -%>
<main> 
    <section class="_bra-product-banner bg-gray pt4 pb5">            
      <div class="_container">
          <% for( var i = 0; i < jData01.objects.length; i++ ) { %>
              <ul class="list ma0 pa0 tl-l tc">
                  <li><strong class="white f3 ttu"><%= jData01.objects[i].source %></strong></li>
                  <li><span class="_bra-line center ml0-l mv3 db bg-yellow"></span></li>
                  <li><p class="white ma0"><%= jData01.objects[i].productText %></p></li>
              </ul>
          <% } %>  
      </div>            
    </section>
    <section class="_bra-product-desc">
      <div class="_container flex flex-wrap-ns flex-column-reverse flex-row-l">
        <% for(var i = 0; i < jData01.objects.length; i++){ %>
          <div class="w-50 pt5-l">
              <ul>
                <% for(var i2 = 0; i2 < jData01.objects[i].description.length; i2++){ %>    
                  <li><%= jData01.objects[i].description[i2] %></li>
                <% } %>
              </ul>   
          </div>
          <div class="w-50-l w-100 _bra-product-image">           
            <img class="w-100 h-auto" src="<%= jData01.objects[i].image %>" alt="<%= jData01.objects[i].source %>">
          </div>
        <% } %>
      </div>
    </section>
    <section>
      <div class="_container">
        <div class="_bra-productCarrousel">
          <% for(var i = 0; i < jData01.objects.length; i++){ %>     
            <% for(var i2 = 0; i2 < jData01.objects[i].productCarrousel.length; i2++){ %>    
              <img class="w-100 h-auto" src="<%= jData01.objects[i].productCarrousel[i2] %>">
            <% } %>
          <% } %> 
        </div>
        <nav class="pt5-l pb5-l pt3 pb3">
          <ul class="_bra-productCarrousel-nav">
            <% for(var i = 0; i < jData01.objects.length; i++){ %>     
              <% for(var i2 = 0; i2 < jData01.objects[i].productCarrousel.length; i2++){ %>    
                <li class="relative">
                  <img class="w-100 h-auto" src="<%= jData01.objects[i].productCarrousel[i2] %>">
                </li>
              <% } %>
            <% } %>  
          </ul>         
        </nav>
      </div>
    </section>
</main>
<%-include('partials/footer') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="../javascript/bra-main.js"></script>
<script src="../javascript/bra-product.js"></script>
</body>
</html>