<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% for( var i = 0; i < jData01.objects.length; i++ ) { %> <%= jData01.objects[i].source %> <% } %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bra-app.min.css">
    <link rel="stylesheet" type="text/css" href="css/bra-product.min.css">
</head>
<body class="_bra-product">
<%- include('partials/header') -%>
<main> 
    <section class="_bra-product-banner bg-gray pt4 pb4">            
      <div class="_container">
          <% for( var i = 0; i < jData01.objects.length; i++ ) { %>
              <ul class="list ma0 pa0 tl-l tc">
                  <li>
                    <strong class="white f3 ttu"><%= jData01.objects[i].source %></strong>
                    <span class="_bra-line center ml0-l mv3 db bg-yellow"></span>
                  </li>
                  <li><p class="white ma0"><%= jData01.objects[i].productText %></p></li>
              </ul>
              <ul class="breadcrumb f7 list flex flex-wrap pa0 mt1 mb0 white">
                <% for(var i2 = 0; i2 < jData01.objects[i].breadcrumb.length; i2++){ %>
                  <li class="flex flex-wrap items-center"><p class="pv2 ma0"><%= jData01.objects[i].breadcrumb[i2] %></p></li>
                <% } %>
              </ul>
          <% } %>  
      </div>            
    </section>
    <section class="_bra-product-desc">
      <div class="_container flex flex-wrap-ns flex-column-reverse flex-row-l">
        <% for(var i = 0; i < jData01.objects.length; i++){ %>
          <div data-aos="fade-right" data-aos-duration="3000" class="w-40-l w-100 pt5-l pb5-l f6">
              <ul>
                <% for(var i2 = 0; i2 < jData01.objects[i].description.length; i2++){ %>    
                  <li><p><%= jData01.objects[i].description[i2] %></p></li>
                <% } %>
              </ul>   
          </div>
          <div data-aos="fade-up-left" data-aos-duration="3000" class="w-60-l w-100 _bra-product-image">           
            <img class="w-100 h-auto" src="<%= jData01.objects[i].image %>" alt="<%= jData01.objects[i].source %>">
          </div>
        <% } %>
      </div>
    </section>
    <section>
      <div class="_container">
        <nav data-aos="fade-up" class="pt5-l pb5-l pt3 pb3">
          <ul class="_bra-productCarrousel-nav pl0">
            <% for(var i = 0; i < jData01.objects.length; i++){ %>     
              <% for(var i2 = 0; i2 < jData01.objects[i].productCarrousel.length; i2++){ %>    
                <li class="relative">
                  <img class="w-100 h-auto" src="<%= jData01.objects[i].productCarrousel[i2] %>">
                </li>
              <% } %>
            <% } %>  
          </ul>         
        </nav>
      </div>
    </section>
    <section class="bg-dark-gray overflow-hidden-l">
      <div class="_container flex flex-wrap flex-row">
        <div data-aos="fade-right" class="w-50-l w-100">
          <strong class="db tc tl-l white f3 ttu mt5 mb2 pl4-l">Especificações técnicas</strong>
          <span class="_bra-line center ml4-l mv3 db bg-yellow"></span>
          <% for(var i = 0; i < jData01.objects.length; i++){ %>
            <ul class="list db mt0 mb4 pl4-l pl3 white f6">
              <% for(var i2 = 0; i2 < jData01.objects[i].specification.length; i2++){ %>
                <li><p class="pv2 ma0"><%= jData01.objects[i].specification[i2] %></p></li>
              <% } %>
            </ul>
            <% if(jData01.objects[i].slice.length > 0){ %>
              <a class="_bra-pdf b--none db white f7 ttu ph2 pv3 lh-solid lh-solid bg-dark-blue ml4-l ml3 mr3 mb4 tc no-underline" href="<%= jData01.objects[i].slice %>" target="_blank">Lamina do produto</a>
            <% } %>
          <% } %>
        </div>
        <div data-aos="fade-left" class="w-50-l"></div>
      </div>
    </section>
    <section>    
        <div class="_bra-close fixed z-2">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492 492"><defs></defs><path d="M300.188 246L484.14 62.04c5.06-5.064 7.852-11.82 7.86-19.024 0-7.208-2.792-13.972-7.86-19.028L468.02 7.872C462.952 2.796 456.196.016 448.984.016c-7.2 0-13.956 2.78-19.024 7.856L246.008 191.82 62.048 7.872C56.988 2.796 50.228.016 43.02.016c-7.2 0-13.96 2.78-19.02 7.856L7.872 23.988c-10.496 10.496-10.496 27.568 0 38.052L191.828 246 7.872 429.952C2.808 435.024.02 441.78.02 448.984c0 7.204 2.788 13.96 7.852 19.028l16.124 16.116c5.06 5.072 11.824 7.856 19.02 7.856 7.208 0 13.968-2.784 19.028-7.856l183.96-183.952 183.952 183.952c5.068 5.072 11.824 7.856 19.024 7.856h.008c7.204 0 13.96-2.784 19.028-7.856l16.12-16.116c5.06-5.064 7.852-11.824 7.852-19.028 0-7.204-2.792-13.96-7.852-19.028L300.188 246z"></path></svg>
        </div>  
        <div  class="_bra-productCarrousel absolute z-1 w-100">
          <% for(var i = 0; i < jData01.objects.length; i++){ %>     
            <% for(var i2 = 0; i2 < jData01.objects[i].productCarrousel.length; i2++){ %>    
              <img src="<%= jData01.objects[i].productCarrousel[i2] %>">
            <% } %>
          <% } %>
        </div>
    </section>
    <% if(suggestions){%>
      <section class="_bra-suggestions mb5">
        <div class="_container">
          <strong class="db tc tl-l f3 ttu mt5 mb2 pl4-l">Produtos Relacionados</strong>
          <span class="_bra-line center ml4-l mv3 db bg-yellow"></span>
          <div class="flex flex-wrap">
            <% for(var is = 0; is < suggestions.length; is++){ %>
              <% if(suggestions[is]) {%>
                <div class="_bra-shelf w-50 w-25-l">
                  <a href="/~brasforno2/<%= suggestions[is].id.replace(/ +/g, '-').toLowerCase() %>.html">
                    <img class="w-100 h-auto" src="<%= suggestions[is].objects[0].image %>" alt="<%= suggestions[is].objects[0].source %>">
                    <p class="tc"><%= suggestions[is].objects[0].source %></p>
                  </a>
                </div>
               <% } %>
            <% } %>
          </div>
        </div>
      </section>
    <% } %>
    <%-include('partials/country') -%>
</main>
<%-include('partials/footer') -%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="javascript/bra-lazysizes.min.js"></script>
<script defer src="javascript/bra-main.min.js"></script>
<script defer src="javascript/bra-product.min.js"></script>
</body>
</html>