<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brasforno foi fundada em 1992 - (11) 4705-9555 - R. Rio de Janeiro, 834 - 06530-020 - Chácara do Solar I – (Fazendinha) - Santana de Parnaíba – SP</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bra-app.min.css">
</head>
<body>
<%- include('partials/header') -%>
<main> 
    <section class="specBox bg-gray pt4 pb5">            
      <div class="_container">
          <% for( var i = 0; i < jData01.objects.length; i++ ) { %>
              <ul class="list ma0 pa0">
                  <li><strong class="white f3 ttu"><%= jData01.objects[i].source %></strong></li>
                  <li><span class="_bra-line mv3 db bg-yellow"></span></li>
                  <li><p class="white ma0"><%= jData01.objects[i].productText %></p></li>
              </ul>
          <% } %>  
      </div>            
    </section>
    <section class="_bra-product-image">
      <div class="_container flex flex-wrap">
        <% for(var i = 0; i < jData01.objects.length; i++){ %>
          <div class="w-50"></div>
          <div class="w-50">           
            <img class="w-100 h-auto" src="<%= jData01.objects[i].image %>" alt="<%= jData01.objects[i].source %>">
          </div>
        <% } %>
      </div>
    </section>
    <section class="_bra-productCarrousel">
      <% for(var i=0; i < jData01.objects.length; i++){%>   
        <p><%= jData01.objects[i].image %></p>
      <% } %>
    </section>
</main>
<%-include('partials/footer') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="../javascript/bra-main.js"></script>
</body>
</html>